<p>
	Dobrý den, <br>
	nová zpráva od zákazníka:
</p>
<p>
	<strong>Jméno:</strong> {$values->fullname}<br>
	<strong>Telefon:</strong> {$values->phone}<br>
	<strong>E-mail:</strong> {$values->email}<br>
	<strong>Poznámka:</strong><br> {$values->text}
</p>