.intro-avatar_holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  @media (max-width: 640px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.is-hidden {
  display: none;
}
