<!DOCTYPE html>
<html lang="{$presenter->locale}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{ifset #metaDescription}{include #metaDescription|stripHtml|trim}{/ifset}">
    <meta name="copyright" content="© {php echo date('Y'); }">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Matronator; https://matronator.com">

    <title>{ifset #pageTitle}{include #pageTitle|striptags} | {/ifset}{$urlFullDomain|noescape}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="{$basePath}/dist/front/images/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{$basePath}/dist/front/images/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/dist/front/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/dist/front/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/dist/front/images/favicon-16x16.png">
    <link rel="manifest" href="{$basePath}/dist/front/images/site.webmanifest">
    <link rel="mask-icon" href="{$basePath}/dist/front/images/safari-pinned-tab.svg" color="#b91d1d">
    <link rel="shortcut icon" href="{$basePath}/dist/front/images/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Pandemic">
    <meta name="application-name" content="Pandemic">
    <meta name="msapplication-TileColor" content="#b91d1d">
    <meta name="msapplication-config" content="{$basePath}/dist/front/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{asset index.css front}">

    <link n:foreach="$presenter->localeList as $localeItem" rel="alternate" hreflang="{$localeItem}" href="{link //this, locale=>$localeItem}"/>
    <link rel="alternate" hreflang="x-default" href="{link //this, locale=>$defaultLocale}" />

    <!-- Google Tag Manager -->
    {* <script n:syntax="off">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-XXXX');</script> *}
    <!-- End Google Tag Manager -->

    {*<script src='https://www.google.com/recaptcha/api.js?render=PUBLIC_KEY_HERE'></script>*}
</head>

<body class="{ifset #bodyClass}{include #bodyClass}{/ifset}">

    <!-- Google Tag Manager (noscript) -->
    {* <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> *}
    <!-- End Google Tag Manager (noscript) -->

    <div n:foreach="$flashes as $flash" class="flash uk-alert-{$flash->type} uk-margin-remove" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p class="uk-margin-remove">{$flash->message}</p>
    </div>

    <div>
        {include '../components/Navbar/Navbar.latte'}

        {if $presenter->user->isLoggedIn()}
            {include '../components/Sidebar/Sidebar.latte'}
        {/if}

        <div class="uk-section uk-background-muted uk-dark{if $presenter->user->isLoggedIn()} main-section{/if}">
            {include pageContent}
        </div>

        {*include '../components/Footer/Footer.latte'*}
    </div>

    {*<script n:syntax="off">
        grecaptcha.ready(function(){
            grecaptcha.execute('PUBLIC_KEY_HERE', { action: 'unicare_form' })
                .then(function(token) {
                const token_inputs = document.querySelectorAll('input[name="recaptcha_token"]')
                for(var i = 0; i < token_inputs.length; i++){
                    token_inputs[i].value = token
                }
            })
        })
    </script>*}

    <style n:syntax="off">
        .grecaptcha-badge {opacity: 0 !important;pointer-events: none !important;}
    </style>

    <script defer src="{asset index.js front}"></script>

</body>
</html>
