<!DOCTYPE html>
<html lang="{$presenter->locale}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="{ifset #metaDescription}{include #metaDescription|stripHtml|trim}{/ifset}">
    <meta name="keywords" content="coronavirus,game,pbbg,browser game,php game,covid-19,covid19,mmorpg,pandemic,mmo,browser based games,covid game">
    <meta name="copyright" content="© {= new \DateTime('Y')|date:'Y'}">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Matronator; https://matronator.cz">

    <meta name="adbytes-site-verification" content="4c076ff94ae601abddf959b2516361afb3073abc6ac34dda616b359903f8f3a6" />

    <title>{ifset #pageTitle}{include #pageTitle|striptags} | {/ifset}Global Collapse: Pandemic</title>

    <!--------- iOS --------->
    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- Enable WAP -->
    <meta name="apple-mobile-web-app-title" content="Pandemic"> <!-- Title -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> <!-- Status bar -->
    <link rel="apple-touch-icon" sizes="76x76" href="{asset 'dist/front/images/apple-touch-icon-ipad.png'}">
    <link rel="apple-touch-icon" sizes="120x120" href="{asset 'dist/front/images/apple-touch-icon-iphone-retina.png'}">
    <link rel="apple-touch-icon" sizes="152x152" href="{asset 'dist/front/images/apple-touch-icon-ipad-retina.png'}">
    <link rel="apple-touch-icon" sizes="180x180" href="{asset 'dist/front/images/apple-touch-icon.png'}">
    <!-- Splashscreens -->
    <link href="{asset 'dist/front/images/splashscreens/iphone5_splash.jpg'}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/iphone6_splash.jpg'}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/iphoneplus_splash.jpg'}" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/iphonex_splash.jpg'}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/iphonexr_splash.jpg'}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/iphonexsmax_splash.jpg'}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/ipad_splash.jpg'}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/ipadpro1_splash.jpg'}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/ipadpro3_splash.jpg'}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{asset 'dist/front/images/splashscreens/ipadpro2_splash.jpg'}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <!--------- Android --------->
    <meta name="mobile-web-app-capable" content="yes">

    <!--------- Windows --------->
    <meta name="msapplication-TileColor" content="#b91d1d">
    <meta name="msapplication-navbutton-color" content="#b91d1d">
    <meta name="msapplication-config" content="{asset 'dist/front/images/browserconfig.xml'}">

    <!--------- Favicons --------->
    <link rel="icon" type="image/png" sizes="16x16" href="{asset 'dist/front/images/favicon-16x16.png'}">
    <link rel="icon" type="image/png" sizes="32x32" href="{asset 'dist/front/images/favicon-32x32.png'}">
    <link rel="icon" type="image/png" sizes="48x48" href="{asset 'dist/front/images/favicon-48x48.png'}">
    <link rel="manifest" href="{asset 'dist/front/images/site.webmanifest'}">
    <link rel="mask-icon" href="{asset 'dist/front/images/safari-pinned-tab.svg'}" color="#b91d1d">
    <link rel="shortcut icon" type="image/x-icon" href="{asset 'dist/front/images/favicon.ico'}">
    <meta name="application-name" content="Pandemic">
    <meta name="theme-color" content="#b91d1d">

    <link rel="stylesheet" href="{='index.css'|fullpath}">

    <link n:foreach="$presenter->localeList as $localeItem" rel="alternate" hreflang="{$localeItem}" href="{link //this, locale=>$localeItem}"/>
    <link rel="alternate" hreflang="x-default" href="{link //this, locale=>$defaultLocale}" />

    <!-- Google tag (gtag.js) -->
    {* <script async src="https://www.googletagmanager.com/gtag/js?id=G-N32T6KN8EP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-N32T6KN8EP');
    </script> *}

    {if count($flashes) > 0}
        <script n:syntax="off">
            l = window.location.toString();
            uri = l.indexOf('_fid=');
            if(uri !== -1) {
                uri = l.substr(0, uri) + l.substr(uri + 10);
                if((uri.substr(uri.length - 1) === '?') || (uri.substr(uri.length - 1) === '&')) {
                    uri = uri.substr(0, uri.length - 1);
                }
                window.history.replaceState('', document.title, uri);
            }
        </script>
    {/if}

    {ifset #head}
        {include #head}
    {/ifset}

    {*<script src='https://www.google.com/recaptcha/api.js?render=PUBLIC_KEY_HERE'></script>*}
</head>

<body class="{ifset #bodyClass}{include #bodyClass}{/ifset}">

    <!-- Google Tag Manager (noscript) -->
    {* <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> *}
    <!-- End Google Tag Manager (noscript) -->

    {snippetArea wrapper}

        {snippet flashes}
            <div n:foreach="$flashes as $flash" class="flash uk-alert-{$flash->type} uk-margin-remove" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="uk-margin-remove">{$flash->message}</p>
            </div>
        {/snippet}

        <div n:snippet="body" uk-height-viewport="expand: true; offset-bottom: true;">
            {include '../components/UI/Navbar/Navbar.latte'}

            {if $presenter->user->isLoggedIn()}
                {include '../components/UI/Sidebar/Sidebar.latte', loggedin: true}
            {else}
                {include '../components/UI/Sidebar/Sidebar.latte', loggedin: false}
            {/if}

            <main class="uk-section uk-padding-remove-bottom uk-background-muted uk-dark main-section uk-flex uk-flex-column uk-flex-between uk-flex-stretch" data-fill-view n:snippet="main">
                <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-top" id="content">
                    {include pageContent}
                </div>
                <div class="uk-text-center uk-flex uk-flex-column uk-flex-middle uk-text-center uk-margin-auto">
                    {* <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3050517829813934" crossorigin="anonymous"></script>
                    <!-- gcp-bottom-ad -->
                    <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3050517829813934" data-ad-slot="9121480039"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script> *}
                    <div class="adbytes-display-ad" data-adspace-id="3204DAEF3F"></div>
                </div>
                {include '../components/UI/Footer/Footer.latte'}
            </main>

        </div>

        {*<script n:syntax="off">
            grecaptcha.ready(function(){
                grecaptcha.execute('PUBLIC_KEY_HERE', { action: 'unicare_form' })
                    .then(function(token) {
                    const token_inputs = document.querySelectorAll('input[name="recaptcha_token"]')
                    for(var i = 0; i < token_inputs.length; i++){
                        token_inputs[i].value = token
                    }
                })
            })
        </script>*}

        <div id="pwaPrompt" class="pwa_prompt-wrapper">
            <div class="pwa_prompt-content uk-text-center uk-dark">
                <p class="uk-text-light pwa_prompt-text">
                    Save webapp shortcut to iPhone: tap <span uk-icon="push" class="uk-text-primary"></span> and then Add to homescreen. <small>(tap to close)</small>
                </p>
            </div>
        </div>

        <style n:syntax="off">
            .grecaptcha-badge { opacity: 0 !important;pointer-events: none !important; }
        </style>

        {snippet js}
            <script defer src="{='index.js'|fullpath}"></script>
            {if $presenter->isLinkCurrent('Bar:default')}
                {ifset $onMission}
                    <script n:if="$onMission >= 1" defer src="{='countdownBar.js'|fullpath}"></script>
                    <script n:if="$onMission < 1" defer src="{='bar.js'|fullpath}"></script>
                {else}
                    {ifset $returned}
                        <script n:if="$returned == true" defer src="{='countdownBar.js'|fullpath}"></script>
                        <script n:if="!$returned" defer src="{='bar.js'|fullpath}"></script>
                    {/ifset}
                {/ifset}
            {/if}
            <script type="text/javascript" src="https://adbytes.media/js/show_ads.js"></script>
            {ifset scripts}{include scripts}{/ifset}
        {/snippet}

    {/snippetArea}
</body>
</html>
