<h2>Global Collapse: Account Recovery</h2>

<p n:if="isset($forgotName) && $forgotName">Your username is: <strong>{$username}</strong></p>
<p n:if="isset($forgotPass) && $forgotPass">To reset your password click on this link: <a href="{$link}">{$link}</a></p>
