<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /

	###################################################
	#Redirect to non-www
	###################################################
	# RewriteCond %{HTTP_HOST} ^www\.
	# RewriteCond %{HTTPS}s ^on(s)|off
	# RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
	# RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

	###################################################
	#Redirect to https
	###################################################
	# RewriteCond %{HTTPS} !on
	# RewriteCond %{HTTP:X-Forwarded-Proto} !=https
	# RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,QSA,NE]
	# Header set Content-Security-Policy "upgrade-insecure-requests;"

	###################################################
	#Set index folder
	###################################################
	RewriteRule ^$ /www/ [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !^/www/
	RewriteRule ^(.*)$ /www/$1
</IfModule>

# BEGIN Expire headers
<ifModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 2592000 seconds"
	ExpiresByType image/x-icon "access plus 31536000 seconds"
	ExpiresByType image/jpeg "access plus 31536000 seconds"
	ExpiresByType image/jpg "access plus 31536000 seconds"
	ExpiresByType image/png "access plus 31536000 seconds"
	ExpiresByType image/gif "access plus 31536000 seconds"
	ExpiresByType image/webp "access plus 31536000 seconds"
	ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
	ExpiresByType text/css "access plus 21600 seconds"
	ExpiresByType text/javascript "access plus 21600 seconds"
	ExpiresByType application/javascript "access plus 21600 seconds"
	ExpiresByType application/x-javascript "access plus 21600 seconds"
	ExpiresByType text/html "access plus 21600 seconds"
	ExpiresByType application/xhtml+xml "access plus 21600 seconds"
</ifModule>
# END Expire headers

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
	Header set Cache-Control "max-age=31536000, public"
	<filesMatch "\.(ico|jpe?g|png|gif|swf|webp)$">
		Header set Cache-Control "max-age=31536000, public"
	</filesMatch>
	<filesMatch "\.(css)$">
		Header set Cache-Control "max-age=21600, private"
	</filesMatch>
	<filesMatch "\.(js)$">
		Header set Cache-Control "max-age=21600, private"
	</filesMatch>
	<filesMatch "\.(x?html?|php)$">
		Header set Cache-Control "private, max-age=21600"
	</filesMatch>
</ifModule>
# END Cache-Control Headers
