{define bodyClass}page--home{/define}
{define pageTitle}Manage Premium{/define}
{define metaDescription}Manage Premium{/define}

{block pageContent}
<div class="uk-container uk-margin-auto uk-text-center uk-grid-item-match uk-grid-match" uk-grid>
  <div class="uk-width-1-1">
    <h1 class="uk-margin-remove">Manage Premium</h1>
    
  </div>
</div>
{/block}
