{define bodyClass}page--home{/define}
{define pageTitle}Payment Successful{/define}
{define metaDescription}Payment Successful{/define}

{block pageContent}
<div class="uk-container uk-margin-auto">
  <div class="uk-card uk-width-auto uk-card-default uk-card-body">
    <h2 class="uk-card-title">Payment Successful</h2>
    <p>Account was upgraded! <a n:href="default">Go back.</a></p>
  </div>
</div>
{/block}
