{define bodyClass}page--info{/define}
{define pageTitle}Copyright Notice{/define}
{define metaDescription}Copyright Notice{/define}

{block pageContent}
  <div class="uk-container-small uk-margin-auto" uk-height-viewport="expand: true">
    <div class="uk-text-left uk-padding-small">
      {_terms.artworkCopyright|noescape}
    </div>
  </div>
{/block}
