{define bodyClass}page--info{/define}
{define pageTitle}Privacy Policy{/define}
{define metaDescription}Privacy Policy{/define}

{block pageContent}
  <div class="uk-container-small uk-margin-auto">
    <div class="uk-text-left uk-padding-small">
      {_terms.privacy|noescape}
    </div>
  </div>
{/block}
