{define bodyClass}page--info{/define}
{define pageTitle}Support the project{/define}
{define metaDescription}Support the project{/define}

{block pageContent}
  <div class="uk-container-small uk-margin-auto" uk-height-viewport="expand: true">
    <div class="uk-card uk-width-expand uk-card-default uk-card-body">
      <h2 class="uk-card-title">Support the Project</h2>
    </div>
  </div>
{/block}
