{define bodyClass}page--info{/define}
{define pageTitle}Terms of Use{/define}
{define metaDescription}Terms of Use{/define}

{block pageContent}
  <div class="uk-container-small uk-margin-auto" uk-height-viewport="expand: true">
    <div class="uk-text-left uk-padding-small">
      {_terms.tos|noescape}
    </div>
  </div>
{/block}
