{layout '../@layoutSginedIn.latte'}

{block content}
	<h1 class="uk-heading-divider">Nástěnka administrace</h1>
	<p>Po levé straně si zvolte obsah, který chcete upravovat.</p>
	<a n:href="generateVendors" class="uk-button uk-button-secondary">Generate vendors</a>
	<a n:href="generateOffers" class="uk-button uk-button-secondary">Generate offers</a>
	<a n:href="darknetUpdate" class="uk-button uk-button-danger">Darknet update</a>
{/block}
