{define bodyClass}page--home{/define}
{define pageTitle}Player statistics{/define}
{define metaDescription}Player statistics{/define}

{block pageContent}
  <div class="uk-container-small uk-margin-auto">

  </div>
{/block}
