parameters:
    version: 0.2.2
    psp: 'stripe' # stripe or paddle

application:
    errorPresenter: Error
    catchExceptions: true
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

tracy:
    email: error@matronator.com
    showLocation: true

services:
    - App\Model\Authorizator::create()
    - App\Model\Authenticator
    - App\Model\ArticlesRepository
    - App\Model\ContactFormRepository
    - App\Model\PagesRepository
    - App\Model\UserRepository
    - App\Model\DrugsRepository
    - App\Model\EventsRepository
    - App\Model\BuildingsRepository
    - App\Model\UnlockablesRepository
    - App\Model\AssaultsRepository
    - App\Model\MiscRepository
    - App\Model\ItemsRepository
    - App\Model\InventoryRepository
    - App\Model\MarketRepository(%items%, %market%)
    - App\Model\StatisticsRepository
    - App\Model\StripeOrdersRepository
    - App\Model\BarRepository
    - App\Filter\ImageFilter
    - App\Components\DataTable\DataTableFactory
    - App\AdminModule\Presenters\VendorPresenter(%darknetUpdate%)
    - App\AdminModule\Presenters\DefaultPresenter(%marketUpdate%)
    - App\FrontModule\Presenters\BasePresenter(%version%)
    - App\FrontModule\Presenters\BarPresenter(%jobs%)
    - App\FrontModule\Presenters\ApiPresenter(%jobs%)
    imagePipe: \ImageGenerator(%wwwDir%)
    imageStorage: \ImageStorage(%wwwDir%)
    voteRewards: \VoteRewards(%voteCallback%)
    timezones: \Timezones
    router: App\Router\RouterFactory::createRouter
    stripe: App\Services\StripeService(%stripe%)
    paddle: App\Services\PaddleService(%paddle%)
    payment: App\Services\PaymentService(%psp%)
    darknet: App\Services\Darknet\DarknetService
    nette.latteFactory:
        setup:
            - addFilter('fromSnake', 'App\Filter\StaticFilters::fromSnake')
            - addFilter('firstLower', 'App\Filter\StaticFilters::firstLower')
            - addFilter('time', 'App\Filter\StaticFilters::time')
            - addFilter('fullpath', 'App\Filter\StaticFilters::asset')
            - addFilter('links', 'App\Filter\StaticFilters::links')
            - addFunction('external', 'App\Filter\StaticFilters::external')

http:
    headers:
        X-Powered-By: StarterPack CMS # for security sake
        X-Content-Type-Options: nosniff
        X-XSS-Protection: '1; mode=block'
        Content-Security-Policy: "default-src 'self' https://*.google.com https://ep1.adtrafficquality.google https://pagead2.googlesyndication.com data: https://cdn.paddle.com/; script-src 'self' https: https://fundingchoicesmessages.google.com https://*.googleapis.com https://*.gstatic.com https://connect-js.stripe.com https://pagead2.googlesyndication.com https://js.stripe.com/ https://cdn.paddle.com/ 'unsafe-inline' 'unsafe-eval'; style-src sha256-0hAheEzaMe6uXIKV4EehS9pu1am1lj/KnnzrOYqckXk= 'self' https://*.googleapis.com 'unsafe-inline' https://sandbox-cdn.paddle.com/; frame-src https: https://googleads.g.doubleclick.net https://connect-js.stripe.com https://js.stripe.com/ https://sandbox-buy.paddle.com/ https://buy.paddle.com/ https://gogetfunding.com/; font-src 'self' https://*.google.com https://*.googleapis.com https://*.gstatic.com 'unsafe-inline'; connect-src 'self' *.google.com https:; report-uri https://global-collapse.com/csp-reports; report-to: csp"
        Content-Security-Policy-Report-Only: "default-src 'self' https://*.google.com https://ep1.adtrafficquality.google https://pagead2.googlesyndication.com data: https://cdn.paddle.com/; script-src 'self' https: https://fundingchoicesmessages.google.com https://*.googleapis.com https://*.gstatic.com https://connect-js.stripe.com https://pagead2.googlesyndication.com https://js.stripe.com/ https://cdn.paddle.com/ 'unsafe-inline' 'unsafe-eval'; style-src sha256-0hAheEzaMe6uXIKV4EehS9pu1am1lj/KnnzrOYqckXk= 'self' https://*.googleapis.com 'unsafe-inline' https://sandbox-cdn.paddle.com/; frame-src https: https://googleads.g.doubleclick.net https://connect-js.stripe.com https://js.stripe.com/ https://sandbox-buy.paddle.com/ https://buy.paddle.com/ https://gogetfunding.com/; font-src 'self' https://*.google.com https://*.googleapis.com https://*.gstatic.com 'unsafe-inline'; connect-src 'self' *.google.com https:; report-uri https://global-collapse.com/csp-reports; report-to: csp"
        Reporting-Endpoints: 'csp="https://global-collapse.com/csp-reports"'
        # Content-Security-Policy: "default-src 'self' https://adbytes.media data: https://cdn.paddle.com/; script-src 'self' https://adbytes.media https://connect-js.stripe.com https://js.stripe.com/ https://cdn.paddle.com/ 'unsafe-inline' 'unsafe-eval'; style-src sha256-0hAheEzaMe6uXIKV4EehS9pu1am1lj/KnnzrOYqckXk= 'self' 'unsafe-inline' https://sandbox-cdn.paddle.com/; frame-src https://connect-js.stripe.com https://js.stripe.com/ https://sandbox-buy.paddle.com/ https://buy.paddle.com/ https://gogetfunding.com/"
        # Content-Security-Policy: "default-src * https: data: 'self' 'unsafe-inline'; report-uri /csp-reports"
        # Content-Security-Policy-Report-Only: "default-src * https: data: 'self' 'unsafe-inline'; report-to /csp-reports"
        # Access-Control-Allow-Origin: "*"

latte:
    macros:
        - App\Macros\CustomMacros

extensions:
    translation: Contributte\Translation\DI\TranslationExtension
    assetExtension: SixtyEightPublishers\Asset\Bridge\Nette\DI\AssetExtension

translation:
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Parameter
        - Contributte\Translation\LocalesResolvers\Router
    locales:
        whitelist: ['en_US', 'ru_RU', 'cs_CZ']
        default: 'en_US'
        fallback: ['en_US']
    dirs:
        - %appDir%/lang
