parameters:
    version: 0.2.1

application:
    errorPresenter: Error
    catchExceptions: true
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

tracy:
    email: error@matronator.com
    showLocation: true

services:
    - App\Model\Authorizator::create
    - App\Model\Authenticator
    - App\Model\ArticlesRepository
    - App\Model\ContactFormRepository
    - App\Model\PagesRepository
    - App\Model\UserRepository
    - App\Model\DrugsRepository
    - App\Model\EventsRepository
    - App\Model\BuildingsRepository
    - App\Model\UnlockablesRepository
    - App\Model\AssaultsRepository
    - App\Model\MiscRepository
    - App\Filter\ImageFilter
    - App\AdminModule\Presenters\VendorPresenter(%darknetUpdate%)
    - App\FrontModule\Presenters\BasePresenter(%version%)
    - App\FrontModule\Presenters\BarPresenter(%jobs%)
    - App\FrontModule\Presenters\ApiPresenter(%jobs%)
    imagePipe: \ImageGenerator(%wwwDir%)
    imageStorage: \ImageStorage(%wwwDir%)
    voteRewards: \VoteRewards(%voteCallback%)
    timezones: \Timezones
    router: App\Router\RouterFactory::createRouter
    nette.latteFactory:
        setup:
            # - addFilter(NULL, 'App\Filter\StaticFilters::common')
            - addFilter('imageGenerator', '@App\Filter\ImageFilter')
            - addFilter('fromSnake', 'App\Filter\StaticFilters::fromSnake')

http:
    headers:
        X-Powered-By: StarterPack CMS # for security sake
        X-Content-Type-Options: nosniff
        X-XSS-Protection: '1; mode=block'

latte:
    macros:
        - App\Macros\CustomMacros

extensions:
    translation: Contributte\Translation\DI\TranslationExtension
    assetsExtension: h4kuna\Assets\DI\AssetsExtension

translation:
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Parameter
        - Contributte\Translation\LocalesResolvers\Router
    locales:
        whitelist: ['en_US', 'ru_RU', 'cs_CZ']
        default: 'en_US'
        fallback: ['en_US']
    dirs:
        - %appDir%/lang

assetsExtension:
    wwwDir: %wwwDir%
    debugMode: %debugMode%
    tempDir: %tempDir%
