parameters:
    version: 0.2.2

application:
    errorPresenter: Error
    catchExceptions: true
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

tracy:
    email: error@matronator.com
    showLocation: true

services:
    - App\Model\Authorizator::create()
    - App\Model\Authenticator
    - App\Model\ArticlesRepository
    - App\Model\ContactFormRepository
    - App\Model\PagesRepository
    - App\Model\UserRepository
    - App\Model\DrugsRepository
    - App\Model\EventsRepository
    - App\Model\BuildingsRepository
    - App\Model\UnlockablesRepository
    - App\Model\AssaultsRepository
    - App\Model\MiscRepository
    - App\Model\ItemsRepository
    - App\Model\InventoryRepository
    - App\Model\MarketRepository(%items%, %market%)
    - App\Model\StatisticsRepository
    - App\Model\StripeOrdersRepository
    - App\Filter\ImageFilter
    - App\Components\DataTable\DataTableFactory
    - App\AdminModule\Presenters\VendorPresenter(%darknetUpdate%)
    - App\AdminModule\Presenters\DefaultPresenter(%marketUpdate%)
    - App\FrontModule\Presenters\BasePresenter(%version%)
    - App\FrontModule\Presenters\BarPresenter(%jobs%)
    - App\FrontModule\Presenters\ApiPresenter(%jobs%)
    imagePipe: \ImageGenerator(%wwwDir%)
    imageStorage: \ImageStorage(%wwwDir%)
    voteRewards: \VoteRewards(%voteCallback%)
    timezones: \Timezones
    router: App\Router\RouterFactory::createRouter
    stripe: App\Services\StripeService(%stripe%)
    nette.latteFactory:
        setup:
            # - addFilter(NULL, 'App\Filter\StaticFilters::common')
            # - addFilter('imageGenerator', '@App\Filter\ImageFilter')
            - addFilter('fromSnake', 'App\Filter\StaticFilters::fromSnake')
            - addFilter('firstLower', 'App\Filter\StaticFilters::firstLower')
            - addFilter('time', 'App\Filter\StaticFilters::time')
            - addFilter('fullpath', 'App\Filter\StaticFilters::asset')
            - addFunction('external', 'App\Filter\StaticFilters::external')

http:
    headers:
        X-Powered-By: StarterPack CMS # for security sake
        X-Content-Type-Options: nosniff
        X-XSS-Protection: '1; mode=block'
        Content-Security-Policy: "default-src 'self'; script-src 'self' https://connect-js.stripe.com https://js.stripe.com/ 'unsafe-inline'; style-src sha256-0hAheEzaMe6uXIKV4EehS9pu1am1lj/KnnzrOYqckXk= 'self' 'unsafe-inline'; frame-src https://connect-js.stripe.com https://js.stripe.com/"

latte:
    macros:
        - App\Macros\CustomMacros

extensions:
    translation: Contributte\Translation\DI\TranslationExtension
    assetExtension: SixtyEightPublishers\Asset\Bridge\Nette\DI\AssetExtension

translation:
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Parameter
        - Contributte\Translation\LocalesResolvers\Router
    locales:
        whitelist: ['en_US', 'ru_RU', 'cs_CZ']
        default: 'en_US'
        fallback: ['en_US']
    dirs:
        - %appDir%/lang
