parameters:
  jobs: [
    [
        locale: distributeMasks
        duration: 20
        energy: 20
        money: 30
        xp: 25
        droprate: 25
    ],
    [
        locale: burnBodies
        duration: 15
        energy: 15
        money: 15
        xp: 20
        droprate: 25
    ],
    [
        locale: smuggleDrugs
        duration: 20
        energy: 15
        money: 40
        xp: 15
        droprate: 15
    ],
    [
        locale: escortScientist
        duration: 10
        energy: 20
        money: 5
        xp: 30
        droprate: 10
    ]
  ]
