/* third party */

@import "../../../node_modules/uikit/dist/css/uikit.css";

@import "../../../node_modules/choices.js/public/assets/styles/choices.css";

@import "../../../node_modules/flatpickr/dist/flatpickr.css";

@import "sanitize.css";

/* Common styles */

@import "common/variables.css";

/* @import "common/mixins.css";

@import "common/buttons.css"; */

@import "common/buttons.css";

@import "common/footer.css";

@import "common/flash.css";

@import "common/header.css";

@import "common/general.css";

@import "common/sidebar.css";

/* Section specific styles */

@import "sections/intro.css";

@import "sections/job.css";

@import "sections/info.css";

@import "sections/pvp.css";

@import "sections/lands.css";

/* @import 'sections/homepage.css'; */

/* Components */

@import "../../../app/modules/Front/components/Training/Training.css";
@import "../../../app/modules/Front/components/ProgressBar/ProgressBar.css";
@import "../../../app/modules/Front/components/Jobs/Jobs.css";
@import "../../../app/modules/Front/components/BuildingCard/BuildingCard.css";
@import "../../../app/modules/Front/components/Assault/Assault.css";
@import "../../../app/modules/Front/components/DidYouKnow/DidYouKnow.css";
@import "../../../app/modules/Front/components/NewsFeed/NewsFeed.css";
