.dashboard-assaults {
  & #attackerCard {
    order: 1;
    @media (--s) {
      order: 3;
    }
  }
  & #victimCard {
    order: 2;
    @media (--s) {
      order: 1;
    }
  }
  & #assaultControls {
    order: 3;
    @media (--s) {
      order: 2;
    }
  }
}

.assault-hit {
  font-size: 24px;
  @media (--s) {
    font-size: 18px;
  }
  opacity: 1;
  white-space: nowrap;
  width: 100%;
  transition: all 150ms ease;
  &#attackerDmg {
    padding-right: 5px;
    align-self: flex-end;
  }
  &#victimDmg {
    padding-left: 5px;
    align-self: flex-start;
  }
  &.hidden {
    opacity: 0;
    width: 20%;
  }
}
