{**
 * ASSAULT - Attacker Card
 *
 *   attacker         array         The attacking player (current user)
 *}

{var $victimGearStats = $presenter->getUserGearStats($victim->id)}
{var $victimGearPower = $presenter->getUserGearPower($victim->id)}
{var $attackerGearStats = $presenter->getUserGearStats($attacker->id)}
{var $attackerGearPower = $presenter->getUserGearPower($attacker->id)}

{var $strDiff = ($attacker->player_stats->strength + $attackerGearStats->strength) - ($victim->player_stats->strength + $victimGearStats->strength)}
{var $staDiff = ($attacker->player_stats->stamina + $attackerGearStats->stamina) - ($victim->player_stats->stamina + $victimGearStats->stamina)}
{var $speDiff = ($attacker->player_stats->speed + $attackerGearStats->speed) - ($victim->player_stats->speed + $victimGearStats->speed)}
{var $powDiff = ($attacker->player_stats->power + $attackerGearPower) - ($victim->player_stats->power + $victimGearPower)}

{var $showStats = isset($noStats) ? $noStats : false}

<div class="uk-card uk-width-expand@s uk-card-default uk-card-body" id="attackerCard">
  <h3 class="uk-flex uk-flex-center uk-text-center uk-flex-middle uk-margin-remove-bottom">
    {$attacker->username}&nbsp;<span class="uk-badge uk-badge-outline">{$attacker->player_stats->level}</span>
  </h3>
  {include '../../components/UI/ProgressBar/ProgressBar.latte',
    min => 0,
    max => ($attacker->player_stats->stamina + $attackerGearStats->stamina) * 2,
    value => ($attacker->player_stats->stamina + $attackerGearStats->stamina) * 2,
    type => 'red',
    small => true,
    name => 'attackerHp'
  }
  <div class="uk-width-expand uk-flex" n:if="$attackerGearStats->armor > 0">
    {include '../../components/UI/ProgressBar/ProgressBar.latte',
        min => 0,
        max => $attackerGearStats->armor,
        value => $attackerGearStats->armor,
        type => 'gray',
        small => true,
        tooltip => 'Armor',
        name => 'playerArmor'
    }
  </div>
  <div class="split">
    <div class="uk-width-auto">
      <div class="{if $attacker->tier > 1}premium-border tier-{$attacker->tier}{/if}">
        <img n:if="$attacker->tier <= 2" src="{$basePath}/dist/front/images/default-avatars/{$attacker->avatar}" class="uk-comment-avatar" width="128" height="128">
        <div n:if="$attacker->tier > 2" style="background-image: url('{$basePath}/dist/front/images/default-avatars/{$attacker->avatar}');" class="uk-comment-avatar immune-avatar"></div>
      </div>
    </div>
    <div class="uk-width-expand uk-margin-left">
      <table class="uk-table uk-table-small uk-table-hover" n:if="!$showStats">
        <tr>
          <td class="uk-text-nowrap" uk-tooltip="title:{_general.stats.strength.description}">{_general.stats.strength.title}</td>
          <td class="uk-text-nowrap uk-width-shrink uk-text-right uk-text-small uk-text-middle {if $strDiff > 0}uk-text-success{elseif $strDiff < 0}uk-text-danger{/if}"><span n:if="$strDiff > 0">+</span>{$strDiff}</td>
          <td class="uk-text-nowrap uk-text-right">{$attacker->player_stats->strength + $attackerGearStats->strength}</td>
        </tr>
        <tr>
          <td class="uk-text-nowrap" uk-tooltip="title:{_general.stats.stamina.description}">{_general.stats.stamina.title}</td>
          <td class="uk-text-nowrap uk-width-shrink uk-text-right uk-text-small uk-text-middle {if $staDiff > 0}uk-text-success{elseif $staDiff < 0}uk-text-danger{/if}"><span n:if="$staDiff > 0">+</span>{$staDiff}</td>
          <td class="uk-text-nowrap uk-text-right">{$attacker->player_stats->stamina + $attackerGearStats->stamina}</td>
        </tr>
        <tr>
          <td class="uk-text-nowrap" uk-tooltip="title:{_general.stats.speed.description}">{_general.stats.speed.title}</td>
          <td class="uk-text-nowrap uk-width-shrink uk-text-right uk-text-small uk-text-middle {if $speDiff > 0}uk-text-success{elseif $speDiff < 0}uk-text-danger{/if}"><span n:if="$speDiff > 0">+</span>{$speDiff}</td>
          <td class="uk-text-nowrap uk-text-right">{$attacker->player_stats->speed + $attackerGearStats->speed}</td>
        </tr>
        <tr>
          <td class="uk-text-nowrap" uk-tooltip="title:{_general.stats.power.description}"><strong>{_general.stats.power.title}</strong></td>
          <td class="uk-text-nowrap uk-width-shrink uk-text-right uk-text-small uk-text-middle {if $powDiff > 0}uk-text-success{elseif $powDiff < 0}uk-text-danger{/if}"><span n:if="$powDiff > 0">+</span>{$powDiff}</td>
          <td class="uk-text-nowrap uk-text-right"><strong>{$attacker->player_stats->power + $attackerGearPower}</strong></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="uk-flex uk-width-expand uk-flex-center" n:if="$attacker->id != $victim->id">
    <div>
      {_general.pvp.assault.loseReward}&nbsp;${$cashMoneyLose|number}
    </div>
  </div>
</div>
