.c-password-form__fieldset {
    background: var( --color-4 );
    border-radius: var( --radius );
    padding-bottom: calc( 4 * var( --space ) );
    display: flex;
}

.c-password-form__label {

    & input {
        background: var( --color-5 );
        padding: var( --space );
        border-top: 1px solid var( --color-0 );
        &.errorInput{
            background-color: var(--color-red);
        }
    }

    &:nth-of-type(-n+2) input {
        @media (--tablet) {
            border-right: 1px solid var( --color-0 );
        }
    }
}