{form form class=>"passwordRecoveryForm"}

	<fieldset>

		<label n:name="email">
			<span>{_m.account.email}</span>
			<input n:name="email" n:class="$form[email]->hasErrors() ? 'errorInput'">
			<ul n:inner-foreach="$form[email]->errors as $error">
				<li>{$error}</li>
			</ul>
		</label>

	</fieldset>

	{input submit}

{/form}

