{form form class => "c-password-form l-vertical-spread"}

    <fieldset class="c-password-form__fieldset">
        <div class="l-grid l-grid--tight-zero">
            <label class="c-password-form__label l-item--12">
                <span class="u-pad o-typo-small">{_m.account.email}</span>
                {input email}
            </label>
        </div>
    </fieldset>

    {input submitReset, id => $submitId, class => isset($submitId) ? 'u-hidden-visually' : ''}

{/form}

