<div class="uk-card uk-card-default uk-card-body player-body" {if $interactable}data-equip-endpoint="{plink //equipItem!}" data-move-endpoint="{plink //moveItem!}" data-unequip-endpoint="{plink //unequipItem!}"{/if} n:snippet="playerBody">
    <div class="body-grid">
        {var $bodyParts = ['head', 'face', 'shoulders', 'shoulders', 'body', 'back', 'melee', 'ranged', 'shield', 'legs', 'feet', 'feet']}
        {var $wasFeet = false}
        {var $wasShoulders = false}
        {foreach $bodyParts as $bodyPart}
            <div class="body-item body-{$bodyPart}{if ($bodyPart === 'feet' && $wasFeet) || ($bodyPart === 'shoulders' && $wasShoulders)}-2{/if}" data-body-slot="{$bodyPart}">
                {var $hasHeadgear = false}
                {if $bodyPart === 'head' && $body->face && $body->ref('items', 'face')->subtype === App\Model\Entity\Item::ARMOR_SUBTYPE_HEADGEAR}
                    {var $hasHeadgear = true}
                {/if}
                {var $hasTwoHandedMelee = false}
                {var $hasTwoHandedRanged = false}
                {if $bodyPart === 'shield' && $body->melee && $body->ref('items', 'melee')->subtype === App\Model\Entity\Item::WEAPON_SUBTYPE_TWO_HANDED_MELEE}
                    {var $hasTwoHandedMelee = true}
                {/if}
                {if $bodyPart === 'shield' && $body->ranged && $body->ref('items', 'ranged')->subtype === App\Model\Entity\Item::WEAPON_SUBTYPE_TWO_HANDED_RANGED}
                    {var $hasTwoHandedRanged = true}
                {/if}
                <div class="player-body-slot {$hasHeadgear ? 'has-headgear'} {$hasTwoHandedMelee ? 'has-two-handed-melee'} {$hasTwoHandedRanged ? 'has-two-handed-ranged'}" data-body-slot="{$bodyPart}" {if $body->$bodyPart || $hasHeadgear || $hasTwoHandedRanged || $hasTwoHandedMelee}data-slot-filled{else}data-slot-empty{/if}
                    {if $hasHeadgear}style="--headgear-image: url('{$basePath.$uploadDir.$presenter->getEquippedItem($body->face)->image|noescape}');"{/if}
                    {if $hasTwoHandedMelee}style="--melee-image: url('{$basePath.$uploadDir.$presenter->getEquippedItem($body->melee)->image|noescape}');"{/if}
                    {if $hasTwoHandedRanged}style="--two-handed-ranged-image: url('{$basePath.$uploadDir.$presenter->getEquippedItem($body->ranged)->image|noescape}');"{/if}
                >
                    {if $body->$bodyPart}
                        {var $item = $presenter->getEquippedItem($body->$bodyPart)}
                        {var $img = $basePath.$uploadDir.$item->image}
                        <div class="equipped-item" data-item-type="{$item->type}" data-item-subtype="{$item->subtype}" data-item-id="{$item->id}">
                            <img src="{$img}" alt="{$item->name}">
                        </div>
                        <div class="uk-width-max-content equipped-dropdown uk-hidden" data-dropdown>
                            {include 'ItemTooltip.latte', item => $item, img => $img}
                        </div>
                    {/if}
                </div>
            </div>
            {if $bodyPart === 'feet'}
                {var $wasFeet = true}
            {/if}
            {if $bodyPart === 'shoulders'}
                {var $wasShoulders = true}
            {/if}
        {/foreach}
    </div>
</div>
