<div class="uk-card uk-card-default uk-card-body sell-item-card" data-sell-endpoint="{plink //sellItem!}">
    <h3 class="uk-card-title">{_general.city.market.sellItem}</h3>
    <p class="uk-text-meta">{_general.city.market.dropItemInfo}</p>
    <div class="sell-item-slot" id="sellItemSlot">
        <div class="market-sell-item" data-original-id data-original-slot data-is-empty></div>
    </div>
    <div class="market-sell-button" data-drop-locale="{_general.city.market.dropItem}" data-sell-locale="{_general.city.market.sellItem}">
        <button class="btn-sell uk-button uk-button-default uk-button-small uk-disabled" role="button" type="button" data-sell-item><span uk-icon="push"></span> {_general.city.market.dropItem}</button>
    </div>
    <div class="market-sell-price" id="itemSellPrice"></div>
</div>
