<!DOCTYPE html>
<html lang="cs">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{include pageTitle|striptags}Matronator CMS</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="robots" content="noindex,follow">
	<link rel="shortcut icon" href="{$basePath}/dist/admin/images/favicon.ico" />
	<link rel="stylesheet" href="{asset index.css admin}">
	<script src="{asset index.js admin}"></script>
	{block head}{/block}
</head>
<body class="l-body">
{include body}
{block scripts}{/block}
</body>
</html>
