<!DOCTYPE html>
<html lang="cs">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{include pageTitle|striptags}Matronator CMS</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="robots" content="noindex,follow">
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/dist/admin/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/dist/admin/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/dist/admin/images/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/dist/admin/images/site.webmanifest">
	<link rel="mask-icon" href="{$basePath}/dist/admin/images/safari-pinned-tab.svg" color="#777777">
	<link rel="shortcut icon" href="{$basePath}/dist/admin/images/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="{$basePath}/dist/admin/images/browserconfig.xml">
	<meta name="theme-color" content="#333333">
	<link rel="stylesheet" href="{asset index.css admin}">
	<script src="{asset index.js admin}"></script>
	{block head}{/block}
</head>
<body class="l-body">
{include body}
{block scripts}{/block}
</body>
</html>
