error:
	notFound: 'Stránka, kterou hledáte, bohužel nebyla nalezena.'
	goBack: 'Zpět na úvodní stránku'

homepage:
	introLead: 'Smrtelný virus se šíří světem. Dokážeš přežít?'
	introText: 'Nový smrtelný typ koronaviru se šíří po celé planetě. Světová ekonomika je v ruinách a vlády se hroutí. Přidej se nyní a zjisti, jestli dokážeš přežít v této dystopické budoucnosti.'
	introBeta: 'Toto je zatím pouze testovní Early Access, je možné (ale nepravděpodobné) že herní účty mohou být smazány.'

intro:
	title: 'Vítej do Global Collapse: Pandemic!'
	greetings: "Vítej do Global Collapse, %username%! Než budeš moct začít svůj boj o přežití, je tu pár věcí které musíš udělat. Začneme tím že si vybereš svůj avatar."
	steps:
		1:
			title: 'Vyber si avatar'
			subtitle: "Buď v klidu, můžeš ho kdykoliv změnit na stránce tvého profilu."
		2:
			response: "<p>Dobrá volba, takhle má vypadat pravý bojovník! Nyní se podíváme na tvé schopnosti.</p>"
			title: 'Nastav si své dovednosti'
			subtitle: "Do začátku máš 4 startovní skillpointy, které rozdělíš mezi své atributy. Přejeď kurzorem na jednotlivé atributy pro víc informací. Atributy budeš moct zvýšit buď tréninkem, nebo dosáhnutí nové úrovně postavy."
		3:
			response: "Skvělý, teď jsi připraven vyrazit! Nebo snad potřebuješ ještě pár minut?"
			title: 'Jsi připraven?'
			subtitle: "Klikni na tlačítko a zační své dobrodružství."

messages:
	success:
		registration: "Registrace dokončena! Nyní se můžeš přihlásit"
		restStart: "Šel jsi odpočívat"
		restEnd: "Získal jsi %reward% energie"
		trainingStart: "Trénink začal"
		skillpointsAssigned: "Skillpointy úspěšně rozděleny"
		avatarChanged: "Avatar změněn"
		purchaseSuccessful: "Nákup úspěšný"
		scavengingStart: "Šel jsi na průzkum do pustin"
		drugsSold: "Drogy úspěšně prodány"
		landBought: "Pozemek úspěšně zakoupen!"
		buildingBought: "Budova zakoupena"
		buildingUpgraded: "Budova vylepšena!"
		landUpgradeStart: "Rozšiřování pozemku započato"
		buildingCollected: "Budova sesbírána!"
	info:
	warning:
	danger:
		notEnoughMoney: "Nedostatek peněz"
		notEnoughEnergy: "Nedostatek energie"
		invalidStats: "Neplatné atributy, zkus to znovu"
		somethingFishy: "Čuchám čuchám lotrovinu..."
		orderBuyTooMany: "You're trying to buy more than the vendor has in stock."
		orderSellTooMany: "You're trying to sell more than you have."
		orderSellVendorLow: "You're trying to sell more than the vendor can buy."

ui:
	navbar:
		covidTracker:
			disclaimer: 'Skutečné statistiky vynásobeny hodnotou:<br>Nakažených: 1500<br>Úmrtí: 15000'
			disclaimerPlayers: '%users% Registered accounts<br>%online% Players online'
			infected: 'Nakažených'
			dead: 'Úmrtí'
	sidebar:
		preparing: '(Již brzy)'
		new: 'NOVÉ'
		player:
			account: 'Účet'
			training: 'Trénink'
			rest: 'Odpočinek'
			home: 'Domov'
			buildings: 'Stavby'
		city:
			title: 'Město'
			bar: 'Bar'
			market: 'Tržnice'
			darknet: 'Darknet'
			wastelands: 'Pustina'
		info:
			title: 'Info'
			about: 'O hře'
			news: "Novinky"
			donations: 'Podpořte nás'
			contact: 'Kontakt'
			help: 'Pomoc'
			tos: 'Podmínky'
			copyright: 'Vlastnická práva'
			privacy: 'Ochrana soukromí'
	footer:
		createdBy: 'Vytvořil'
		translatedBy: '' # leave empty to only appear in RU
		users: 'hráčů'
		online: 'online'
		reportBug: 'Nahlásit chybu'
	login: 'Přihlásit se'
	logout: 'Odhlásit se'
	signup: 'Vytvořit účet'
	email: 'E-mail'
	newEmail: 'Nový e-mail'
	password: 'Heslo'
	passwordV: 'Heslo znovu'
	newPassword: 'Nové heslo'
	username: 'Username'
	lastUpdated: 'Naposledy aktualizováno'
	ago: 'zpátky'
	back: 'Zpět'
	save: 'Uložit'
	reset: 'Reset'
	confirm: 'Potvrdit'
	continue: 'Pokračovat'
	add: 'Přidat'
	remove: 'Odebrat'
	extra: 'Extra'
	changeAvatar: 'Změnit avatar'
	skip: 'Přeskočit'
	allPosts: 'Načíst další'
	more: 'Více'
	first: 'První'
	last: 'Poslední'
	locationStatus:
		closed: 'Zavřeno'

account:
	accountSettings: 'Nastavení účtu'
	changePassword: 'Změnit heslo'

faq:
	title: 'Věděl jsi že... ?'
	items:
		1: "... hráč u sebe nemůže mít více než $999,999,999?"
		2: "... můžeš trénovat i když zrovna pracuješ?"
		3: "... můžeš jít na průzkum i když právě odpočíváš? Abys nejlépe využil svůj čas, nejprve jdi odpočívat a potom jdi na průzkum. Když půjdeš nejdřív na průzkum, už nebudeš moct jít odpočívat, dokud se zase nevrátíš zpět."
		4: '... že se můžeš o hře naučit více na naší Wiki? Jdi na <a href="https://github.com/matronator/GlobalCollapse/wiki" target="_blank" rel="noopener">Wiki (na novém panelu)</a>'

training:
	train: 'Trénovat'
	timeLeft: 'Zbývá:'
	spLeft: 'Dostupné skillpointy: <strong id="pointsLeft">%sp%</strong>'

pvp:
	allPlayers: 'Všichni hráči'
	assault:
		winReward: 'Peníze za výhru:'
		loseReward: "Ztráta za prohru:"
		attack: 'Zaútoč'

resting:
	title: 'Odpočinek'
	intro: "Odpočiň si a dobij si tak energii. Každou hodinu získáš zpět 20 energie."
	restingSince: 'Odpočíváš od: '
	stop: 'Vzbudit se'

city:
	bar:
		closed: 'Bar je zavřený'
		closedSocialDistancing: 'The bar is temporary closed due to social distancing, caused by recent increase in coronavirus cases. You can get your missions online from the darknet.'
		jobs:
			title: 'Práce'
			description: "Vyber si jakou práci chceš vzít a pusť se do ní. Až ji uděláš, dostaneš odměnu."
			duration: 'Délka'
			energyBarTip: 'Your remaining energy'
			descriptionDefault: 'Select a job from the list'
			working: 'Pracuješ'
			workingUntil: "Pracuješ do "
			jobDone: "Dokončil jsi práci a získal jsi tyto odměny:"
			minutes: 'minut'
			acceptJob: 'Přijmout práci'
			distributeMasks:
				title: 'Distribuce roušek'
				description: 'Rozdávej roušky v centru města.'
			burnBodies:
				title: 'Pálení mrtvol'
				description: 'Spal mrtvoly nakažených v peci za městem, pro omezení šíření viru.'
			smuggleDrugs:
				title: 'Pašování drog'
				description: 'Propašuj drogy přes hranice města.'
			escortScientist:
				title: 'Eskortuj vědce'
				description: 'Bezpečně eskortuj vědce přes pustinu do jeho laboratoře.'
			constructionHelp:
				title: 'Pomoc na stavbě'
				description: 'Help with the construction of a new refuge camp near the city limits.'
			spyMission:
				title: 'Špionáž'
				description: 'Pronásleduj obchodníka se zbraněmi z černého trhu a sbírej informace.'
	darknet:
		about: 'Ceny se mění každých 5 hodin. Nakup za málo, prodej za hodně.'
		priceTotal: 'Cena celkem:'
	wastelands:
		wastelandsTitle: 'Pustina'
		scavengingTitle: 'Průzkum'
		scavengingText: 'You can go scavenging for loot into the wastelands outside of the city. You can return from scavenging any time after one hour have passed, but the longer you scavenge, the better reward you get.'
		scavenging: 'You cannot do anything else, because you are currently scavenging outside of the city. Do you want to return back?'
		scavengingSince: 'Jsi na průzkumu od:'
		scavengingReturn: 'Vrátit se z průzkumu'
		scavengeDone: '<p>You returned to the city after <strong>%hours% hours</strong> of scavenging.</p></p>You sold all the scraps you found and gained some experience.</p>'

stats:
	stat: 'Atributy'
	currentValue: 'Současná hodnota'
	strength:
		title: 'Síla'
		description: "Síla určuje kolik zranění udělíš při soubojích"
		pvp: 'Tvá síla'
	stamina:
		title: 'Výdrž'
		description: "Výdrž určuje kolik úderů vydržíš"
		pvp: 'Tvý výdrž'
	speed:
		title: 'Rychlost'
		description: "Rychlostí se vyhýbáš úderům"
		pvp: 'Tvý rychlost'
	power:
		title: 'Moc'
		powerTotal: 'Celková síla'
		description: "Tvá celková síla"
	energy: 'Energie'
	health: 'Zdraví'
	money: 'Peníze'
	level: 'Level'
	xp: 'XP'
	xpTooltip: 'Tvé zkušenosti'

drugs:
	drugName: 'Droga'
	yourStash: 'Ty máš'
	Weed:
		name: 'Tráva'
		alt:
			1: 'Cannabis'
			2: 'THC'
			3: 'Marijuana'
	Ecstasy:
		name: 'Extáze'
		alt:
			1: 'MDMA'
			2: 'XTC'
			3: 'Molly'
	Meth:
		name: 'Pervitin'
		alt:
			1: 'Crystal meth'
			2: 'Methamphetamine'
	Coke:
		name: 'Kokain'
		alt:
			1: 'Cocaine'
	Heroin:
		name: 'Heroin'

buildings:
	title: 'Stavby'
	description: 'Kup si pozemek, kde budeš moci stavět budovy, které ti budou produkovat komodity na prodej.'
	showMore: 'Více'
	showLess: 'Show less'
	demolish: 'Zbourat'
	upgrade: 'Upgradovat'
	buildings:
		weedhouse:
			name: 'Pěstírna'
			description: 'Pěstuje trávu'
			product: 'Tráva'
		meth_lab:
			name: 'Varna'
			description: 'Vaří pervitin'
			product: 'Pervitin'
		ecstasy_lab:
			name: 'Tlačírna éčka'
			description: 'Vyrábí pilule extáze'
			product: 'Extáze'
		poppy_field:
			name: 'Makové pole'
			description: 'Pěstuje opium'
			product: 'Heroin'
		coca_plantage:
			name: 'Plantáž koky'
			description: 'Pěstuje koku'
			product: 'Kokain'
	type: 'Typ'
	productType: 'Vyrábí'
	productIncome: 'Množství'
	incomeDescription: 'Tvé příjmy každých 5 hodin'
	lastCollection: 'Naposledy vybráno:'
	types:
		drugs:
			name: 'Výroba drog'
			description: 'Produkuje drogy'
