error:
	notFound: 'Страница, которую ты ищешь, пропала в пустошах.'
	goBack: 'Вернуться на главную'

homepage:
	introLead: 'Смертоносный вирус охватил весь земной шар. Выживешь ли ты?'
	introText: 'Новый смертельный штамм коронавируса распространяется по всей планете. Мировая экономика пала, а правительства разваливаются. Присоединяйся сейчас, чтобы выжить в этом мрачном будущем.'
	introBeta: 'Игра находится в раннем доступе, новые возможности и улучшения появляются каждую неделю.'

intro:
	title: 'Приветствую в Global Collapse: Pandemic!'
	greetings: "Приветствую в Global Collapse, %username%! Прежде чем сразиться за свою жизнь, расскажи немного о себе. Для начала выбери аватар."
	steps:
		1:
			title: 'Выбери аватар'
			subtitle: "При необходимости ты сможешь сменить его позже."
		2:
			response: "<p>Хороший выбор, теперь ты выглядишь достойно. Давай взглянем на твои умения.</p>"
			title: 'Распредели характеристики'
			subtitle: "У тебя 4 очка для повышения базовых характеристик. Наведи на умение, чтобы узнать больше о нем. Ты можешь повышать умения тренировкой или при достижении нового уровня."
		3:
			response: "Отлично, теперь ты твой персонаж готов выживать в нелегкое время!"
			title: 'А ты готов?'
			subtitle: "Нажми продолжить когда будешь готов."

ui:
	navbar:
		covidTracker:
			disclaimer: 'Дисклеймер: статистика в реальном времени умножена на <br>Инфицированных: 1500<br>Смертей: 15000'
			disclaimerPlayers: '%users% игроков зарегистрировано<br>%online% игроков в сети'
			infected: 'Заражено'
			dead: 'Погибло'
	sidebar:
		preparing: '(Подготовка)'
		new: 'NEW'
		player:
			account: 'Аккаунт'
			training: 'Тренировка'
			rest: 'Отдых'
			home: 'Дом'
			buildings: 'Собственность'
		city:
			title: 'Город'
			bar: 'Бар'
			market: 'Маркет'
			darknet: 'Даркнет'
			wastelands: 'Пустоши'
		info:
			title: 'Информация'
			about: 'Об игре'
			news: "Новости"
			donations: 'Помощь автору (донат)'
			contact: 'Контакты'
			help: 'Помощь'
			tos: 'Правила использования'
			copyright: 'Авторские права'
			privacy: 'Конфиденциальность'
	footer:
		createdBy: 'Создал'
		translatedBy: 'Автор леревода: <a href="https://vk.com/pase80" target="_blank" rel="noopener">pase80</a>'
		users: 'пользователи'
		online: 'онлайн'
		reportBug: 'Сообщить о проблеме'
	login: 'Вход'
	logout: 'Выход'
	signup: 'Регистрация'
	email: 'E-mail'
	newEmail: 'Новый e-mail'
	password: 'Пароль'
	passwordV: 'Повтори пароль'
	newPassword: 'Новый пароль'
	username: 'Имя пользователя'
	lastUpdated: 'Последнее обновление'
	ago: 'назад'
	back: 'Назад'
	save: 'Сохранить'
	reset: 'Сброс'
	confirm: 'Принять'
	continue: 'Продолжить'
	cancel: 'Нет'
	add: 'Добавить'
	remove: 'Убрать'
	extra: 'Больше'
	changeAvatar: 'Сменить аватар'
	skip: 'Пропустить'
	allPosts: 'Все посты'
	more: 'Больше'
	first: 'Первый'
	last: 'Последний'
	locationStatus:
		closed: 'Закрыто'

account:
	accountSettings: 'Настройки аккаунта'
	changePassword: 'Сменить пароль'

faq:
	title: 'Знаешь ли ты, что... ?'
	items:
		1: "... максимальное количество денег, которое ты можешь иметь - $999,999,999"
		2: "... ты можешь тренироваться даже пока работаешь"
		3: "... ты все еще можешь выйти в пустоши, пока отдыхаешь? Для этого сначала иди отдыхать, а потом в пустоши. Если же сначала уйдешь в пустоши, то отдохнуть не получится."
		4: '... ты можешь узнать больше в нашей <a href="https://github.com/matronator/GlobalCollapse/wiki" target="_blank" rel="noopener">Wiki (откроется в новой вкладке)</a>'

training:
	train: 'Тренировка'
	timeLeft: 'Времени осталось:'
	spLeft: 'Очков умений: <strong id="pointsLeft">%sp%</strong>'

pvp:
	assault:
		winReward: 'Денег за победу:'
		winRewardXp: 'Опыт за победу:'
		loseReward: "Деньги при проигрыше:"
		attack: 'Атака'

resting:
	title: 'Отдых'
	intro: "Отдых восстанавливает энергию. За каждый час отдыха восстанавливается 20 энергии."
	restingSince: 'Отдых с: '
	stop: 'Хватит отдыхать'

city:
	bar:
		closed: 'Бар закрыт'
		closedSocialDistancing: 'Бар временно закрыт из-за социальной дистанцированности, вызванной недавним ростом случаев заболевания коронавирусом. Вы можете поискать работу в даркнете.'
		jobs:
			title: 'Работа'
			description: "Выбери желаемую работу. Ты получишь вознаграждение по окончанию работы."
			duration: 'Время'
			energyBarTip: 'Оставшаяся энергия'
			descriptionDefault: 'Выбери работу'
			working: 'Работешь'
			workingUntil: "Ты на работе до "
			jobDone: "Ты закончил работать и получил следующее:"
			minutes: 'минут'
			acceptJob: 'Начать работу'
			distributeMasks:
				title: 'Производство масок'
				description: 'Производство масок в центре города.'
			burnBodies:
				title: 'Сжигание трупов'
				description: 'Сжигай тела в мусорной печи для предотвращения распространения вируса.'
			smuggleDrugs:
				title: 'Smuggle drugs'
				description: 'Контрабанда наркотиков через городскую границу.'
			escortScientist:
				title: 'Сопровождение ученых'
				description: 'Сопровождай группу ученых через пустоши.'
			constructionHelp:
				title: 'Помощь в строительстве'
				description: 'Помоги со строительством лагеря беженцев недалеко от города.'
			spyMission:
				title: 'Шпионаж'
				description: 'Следуй за торговцем оружия с даркнета и собирай информацию.'
	darknet:
		about: 'Цены меняются каждые 5 часов. Покупай дешево - продавай дороже.'
		priceTotal: 'Итого:'
	wastelands:
		wastelandsTitle: 'Пустоши'
		scavengingTitle: 'Уборка мусора'
		scavengingText: 'Ты можешь пойти убирать мусор в пустоши за городом, и возможно найдешь нечто полезное. Ты сможешь вернуться не раннее чем через час. Помни, чем больше ты в пустошах, тем больше найдешь.'
		scavenging: 'Ты не можешь заняться чем-то еще, потому что ты в пустошах за городом. Хочешь вернуться?'
		scavengingSince: 'Ты в пустошах с:'
		scavengingReturn: 'Вернуться из пустошей'
		scavengeDone: '<p>Ты вернулся в город после <strong>%hours% часов</strong>, проведенных в пустошах.</p></p>Ты продал всё, что нашел, и набрался опыта.</p>'

stats:
	stat: 'Умения'
	currentValue: 'Текущее значение'
	strength:
		title: 'Сила'
		description: "Сила используется для нанесения урона в бою"
		pvp: 'Твоя сила'
	stamina:
		title: 'Выносливость'
		description: "Выносливость отвечает за то, сколько урона ты можешь получить"
		pvp: 'Твоя выносливость'
	speed:
		title: 'Скорость'
		description: "Скорость нужна для уклонения от атак"
		pvp: 'Твоя скорость'
	power:
		title: 'Общий ресурс'
		powerTotal: 'Общий ресурс'
		description: "Твой общий ресурс"
	energy: 'Энергия'
	health: 'Жизнь'
	money: 'Деньги'
	level: 'Уровень'
	xp: 'опыт'
	xpTooltip: 'Твой опыт'

drugs:
	drugName: 'Наркотики'
	yourStash: 'Твоя заначка'
	Weed:
		name: 'Травка'
		alt:
			1: 'Канабис'
			2: 'Ганжа'
			3: 'Маривана'
	Ecstasy:
		name: 'Экстази'
		alt:
			1: 'MDMA'
			2: 'XTC'
			3: 'Молли'
	Meth:
		name: 'Мет'
		alt:
			1: 'Кристал-мет'
			2: 'Метамфетамин'
	Coke:
		name: 'Кокаин'
		alt:
			1: 'Кока'
			2: 'Кокс'
	Heroin:
		name: 'Героин'
		alt:
			1: 'Гера'
			2: 'Герыч'

buildings:
	title: 'Собственность'
	description: 'Для постройки необходимо купить территорию в пустошах.'
	showMore: 'Показать больше'
	showLess: 'Меньше'
	demolish: 'Снести'
	upgrade: 'Улучшить'
	buildings:
		weedhouse:
			name: 'Теплица'
			description: 'Теплица для выращивания травки'
			product: 'Трава'
		meth_lab:
			name: 'Лаборатория'
			description: 'Лаборатория для производства мета'
			product: 'Мет'
		ecstasy_lab:
			name: 'Завод'
			description: 'Завод по изготовлению таблеток'
			product: 'Экстази'
		poppy_field:
			name: 'Маковые поля'
			description: 'Поля мака для производства опиума'
			product: 'Героин'
		coca_plantage:
			name: 'Плантация кокаина'
			description: 'Плантация для выращивания кокаина'
			product: 'Кокаин'
	type: 'Тип'
	productType: 'Производство'
	productIncome: 'Количество'
	incomeDescription: 'Сбор каждые 5 часов'
	lastCollection: 'Последний сбор:'
	types:
		drugs:
			name: 'Производство наркотиков'
			description: 'Производит наркотики'
