.progress-bar {
  position: relative;
  margin: 20px auto;
  padding: 0;
  width: 100%;
  height: 30px;
  overflow: hidden;
  background: #aaa;
  border-radius: 6px;
  &\-small {
    margin: 10px auto;
    height: 20px;
    border-radius: 10px;
  }
  &.yellow {
    background: #cacaca;
  }
  &.red {
    background: #999;
  }
  &\-fill {
    position: relative;
    height: 100%;
    background: #1e87f0;
    transition: all 250ms ease;
  }
  &\-small .progress-bar-value {
    font-weight: 300;
    font-size: 0.875em;
  }
  &\-value {
	  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    color: #fff;
    font-weight: 500;
  }
}
.progress-bar.yellow .progress-bar-fill {
  background: #fadd5a;
}
.progress-bar.red .progress-bar-fill {
  background: #ce3131;
}
.progress-bar.yellow .progress-bar-value {
  color: #000;
}
