.uk-card-special {
  background-color: #19271b;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 6px dotted #1f682c;
  outline: 2px solid #e5ef34;
  box-shadow: 0 0 16px 2px #219837 !important;
  background-image: repeating-linear-gradient(220deg, rgba(107, 198, 93, 0.125), rgba(107, 198, 93, 0.3) 1px, transparent 1px, transparent 3px);
}
