@media (min-width: 960px) {
  .main-section {
    margin-left: 240px;
    max-width: calc(100% - 240px);
  }
}
.uk-text-yellow {
  color: #fadd5a !important;
}

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.main-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.border-left {
  border-left: 1px solid #e5e5e5;
}

.dashboard {
  flex-direction: row;

  &>:first-child {
    margin-right: 1rem;
  }

  @media (max-width: 639px) {
    flex-direction: column;
    &>:first-child {
      margin-bottom: 1rem;
    }
  }
}
.tabular {
  flex-direction: row;

  &>:first-child {
    margin-right: 1rem;
  }

  @media (max-width: 1199px) {
    flex-direction: column;
    &>:first-child {
      margin-bottom: 1rem;
    }
  }
}
td.input-row {
  position: relative;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.input-number {
  height: 100%;
  max-width: 160px;
}
#priceTotal {
  min-width: 120px;
}

/* .covid-counter #covidInfected {
  color: #ff7777;
}
.covid-counter #covidDead {
  color: #c40000;
} */
