@media (min-width: 960px) {
  .main-section {
    margin-left: 240px;
    max-width: calc(100% - 240px);
  }
}

.main-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.border-left {
  border-left: 1px solid #e5e5e5;
}

.dashboard {
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
    &>:first-child {
      margin-right: 1rem;
    }
  }
}

/* .covid-counter #covidInfected {
  color: #ff7777;
}
.covid-counter #covidDead {
  color: #c40000;
} */
