.sidebar-main {
  position: fixed;
  top: 80px;
  left: 0;
  width: 240px;
  bottom: 0;
  padding: 10px 20px 0 20px;
  border-top: 1px solid var(--c-dark-1);
  border-right: 1px solid var(--c-dark-1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.offcanvas-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  overflow-y: auto;
}

.sidebar-footer {
  align-self: center;
  margin-top: auto;
}

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-nav {
  margin-bottom: 10px;
}

.uk-offcanvas-bar .uk-panel.offcanvas-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  & > .status-bar {
    padding-top: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.sidebar-close {
  cursor: pointer;
  margin-bottom: 1rem;
}
