.sidebar-main {
  position: fixed;
  top: 80px;
  left: 0;
  width: 240px;
  bottom: 0;
  padding: 10px 20px 30px 20px;
  border-top: 1px solid #111111;
  border-right: 1px solid #111111;
  overflow-y: auto;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 200px;
}

.offcanvas-main,
.offcanvas-main > .uk-offcanvas-bar,
.offcanvas-main > .uk-offcanvas-bar > .uk-panel {
  height: 100%;
  overflow-y: auto;
  & > .sidebar-footer {
    width: calc(100% - 50px);
  }
}
