.premium-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    & .uk-card-media-top {
        flex: 1 1 auto;
    }

    & .uk-card-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &.tier-2 {
        box-shadow: 0px 0px 16px 0px #ffd900;
    }
    &.tier-3 {
        box-shadow: 0px 0px 16px 0px #1975ff;
    }
    
    &.current-tier {
        position: relative;
        overflow: hidden;

        & .current-tier-label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 240px;
            text-transform: uppercase;
            font-size: 0.875rem;
            font-weight: 600;
            padding: 0;
            color: #970000;
            text-shadow: 1px 1px 0 #fff;
            background-color: #ffc000;
            box-shadow: 0 4px 12px -6px #000000;
            border: 3px solid #ff9d00;
            transform: translate(-30%, 132%) rotate(-45deg);
        }
    }

    & .premium-details {
        flex: 1 1 auto;
    }

    & .premium-footer {
        flex-grow: 0;
    }
}

.premium-star {
    margin-left: .25rem;
    width: 16px;
    height: 16px;
}
