{layout '../@layout.latte'}

{block pageContent}
<div class="uk-container-small uk-margin-auto" uk-height-viewport="expand: true">
  <h1 class="uk-heading-line uk-text-center uk-heading-large"><span>404</span></h1>
  <div class="error-page__text">
    <p>{_general.error.notFound|noescape}</p>
    <a n:href="Default:default">{_general.error.goBack|noescape}</a>
  </div>
</div>
