<div class="js-upload uk-placeholder uk-text-center" data-form-id="{$formId}">
    <div class="uk-padding-small">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle">Nahrajte soubory přetáhnutím nebo</span>
        <div uk-form-custom>
            {$input}
            <span class="uk-link">je vyberte.</span>
        </div>
    </div>
    <ul class="uk-thumbnav js-thumbnav" uk-margin>
        <li class="uk-active"></li>
    </ul>
</div>
