{define bodyClass}page--login{/define}
{define pageTitle}Login{/define}
{define metaDescription}Login{/define}

{block pageContent}
<div class="uk-container-expand" uk-height-viewport="expand: true">
  <div class="uk-flex uk-flex-middle uk-flex-column">
    <h1>{_general.account.resetPassword}</h1>
    <p>Check your e-mail for further instructions.</p>
  </div>
</div>
{/block}
