{layout '../../../Front/templates/@layout.latte'}

{block content}
<div class="uk-container-small uk-margin-auto" uk-height-viewport="expand: true">
	<div class="dashboard uk-flex uk-text-center" uk-margin>
		<h1 class="error-page__title">404</h1>
		<div class="error-page__text">
			<p>{_general.error.notFound|noescape}</p>
			<a n:href=":Front:Default:">{_general.error.goBack|noescape}</a>
		</div>
	</div>
</div>
