.progress-bar {
  position: relative;
  margin: 20px auto;
  padding: 0;
  width: 100%;
  height: 30px;
  overflow: hidden;
  background: var(--c-light-4);
  border-radius: 6px;
  &\-small {
    margin: 10px auto;
    height: 20px;
    border-radius: 10px;
  }
  &\-square {
    border-radius: 0;
  }
  &.yellow {
    background: var(--c-light-3);
  }
  &.red {
    background: var(--c-light-5);
  }
  &\-fill {
    position: relative;
    height: 100%;
    background: var(--primary);
    transition: all 250ms ease;
  }
  &\-small .progress-bar-value {
    font-weight: 300;
    font-size: 0.875em;
  }
  &\-value {
	  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    color: var(--white);
    font-weight: 500;
  }
}
.progress-bar.yellow .progress-bar-fill {
  background: var(--c-yellow);
}
.progress-bar.red .progress-bar-fill {
  background: var(--c-red);
}
.progress-bar.yellow .progress-bar-value {
  color: var(--black);
}
