{layout '../@layoutSignedIn.latte'}

{block content}
    <h1 n:block="title" class="uk-heading-divider">Items</h1>

    <a class="uk-button uk-button-primary" n:href="edit" n:if="$presenter->isAllowed('create')">
        Create new item
    </a>

    {if count($data) < 1}
        <div class="uk-placeholder">No items</div>
    {else}
        {snippet table}
            {control dataTable}
        {/snippet}
    {/if}

{/block}
